# Compiled class file
*.class

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse settings file
.project
.classpath
.settings/
target/
bin/
.springBeans

# InteliJ Idea settings file
*.iml
.idea

# Mac os
.DS_Store