/*  @see mobiscroll.scroller.ios7.css  */
.wap2 .dwo {
    background: rgba(0,0,0,.2);
    filter: Alpha(Opacity=20);
}
.wap2 .dw {
    background: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.wap2 .dwwr, .wap2 .dww {
    background: #f7f7f7;
}
.wap2 .dwwc, .wap2 .dw .dwwl {
    background: none;
}
.wap2 .dwwr, .wap2 .dwc, .wap2 .dwwc, .wap2 .dwwl {
    margin: 0;
    padding: 0;
}
.wap2 .dwl {
    display: none;
}
.wap2 .dwwc {
    padding: 0px 10px 10px 10px;
}
.wap2 .dwhl .dwwc {
    padding-top: 10px;
}
.wap2 .dw .dwwr {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.wap2 .dwwo {
    background: -webkit-gradient(linear,left bottom,left top,from(#f7f7f7),color-stop(0.52, rgba(245,245,245,0)),color-stop(0.48, rgba(245,245,245,0)),to(#f7f7f7));
    background: -webkit-linear-gradient(#f7f7f7 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f7f7f7 100%);
    background: -moz-linear-gradient(#f7f7f7 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f7f7f7 100%);
    background: linear-gradient(#f7f7f7 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f7f7f7 100%);
}
.wap2 .dwwol {
    padding: 0 10px;
    height: 34px;
    margin: -18px 0 0 -10px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.wap2 .dw-li {
    color: #9d9d9d;
    font-size: 16px;
    text-align: left;
    text-shadow: none;
}
.wap2 .dw-hl {
    background: rgba(0,122,255,.2);
}
.wap2 .dw-sel {
    color: #000;
}
.wap2 .dwv {
    display: none;
}
.wap2 .dw .dwbc {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #acacac;
}
/* hack for custom on 2016-10-26 00:07:16*/
.wap2 .dw .dwbc {
	display: none;
}
.wap2 .dwb {
    margin: 0;
    padding: 0 10px;
    display: inline-block;
    color: #007aff;
    text-shadow: none;
    font-size: 17px;
    font-weight: normal;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.wap2 .dwb-a {
    opacity: .5;
}
.wap2 .dwbw {
    display: block;
    float: right;
}
.wap2 .dwb-c {
    float: left;
}
.wap2 .dwb-s .dwb {
    font-weight: bold;
}
/* Clickpick mode */
.wap2 .dwpm .dwwl {
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.wap2 .dwpm .dww {
    background: none;
}
.wap2 .dwpm .dwwol {
    display: block;
}
.wap2 .dwwb, .wap2 .dwwb:hover {
    background: #f7f7f7;
    text-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.wap2 .dwwb.dwb-a {
    background: #f7f7f7;
}
.wap2 .dwwbp {
    bottom: 0;
    top: auto;
}
.wap2 .dwwbm {
    top: 0;
    bottom: auto;
}
.wap2 .dwwb span {
    display: none;
}
.wap2 .dwwb:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 13px;
    height: 13px;
    left: 50%;
    margin-top: -7px;
}
.wap2 .dwwbp:after {
    border-left: 2px solid #007aff;
    border-bottom: 2px solid #007aff;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -moz-transform: rotate(-45deg);
    transform-origin: bottom left;
    transform: rotate(-45deg);
}
.wap2 .dwwbm:after {
    border-left: 2px solid #007aff;
    border-top: 2px solid #007aff;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: top left;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: top left;
    transform: rotate(45deg);
    transform-origin: top left;
}
/* Bubble arrow */
.wap2 .dw-bubble-bottom .dw-arr {
    top: 0;
    border-color: transparent transparent #f7f7f7 transparent;
}
.wap2 .dw-bubble-top .dw-arr {
    bottom: 0;
    border-color: #f7f7f7 transparent transparent transparent;
}
.wap2.dw-bubble .dwwr {
    overflow: hidden;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
/* Inline display */
.wap2.dw-inline .dw {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.wap2.dw-nobtn .dwwr,
.wap2.dw-inline .dwwr {
    padding-top: 0;
}
/* Select */
.wap2.dw-select .dwwo {
    display: none;
}
/* Multiple select */
.wap2 .dwwms .dwwol {
    display: none;
}
.wap2 .dwwms .dw-li {
    padding-left: 5px;
    padding-right: 40px;
    color: #000;
}
.wap2 .dwwms .dw-msel:after {
    left: auto;
    right: 0;
    color: #007aff;
}
