@-webkit-keyframes glowing {
  from {
    -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
    box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); 
  }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(165, 222, 55, 0.8);
    box-shadow: 0 0 16px rgba(165, 222, 55, 0.8); 
  }
  to {
    -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
    box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); 
  } 
}
@keyframes glowing {
  from {
    -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
    box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); 
  }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(165, 222, 55, 0.8);
    box-shadow: 0 0 16px rgba(165, 222, 55, 0.8); 
  }
  to {
    -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
    box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); 
  } 
}

.wraper {
    height: 100%;
}
.order-list .order-item{
	font-size: 0.8em;
}
.order-list .item_count{
	margin-left: 60px;
    padding: 0px 6px;
    border-radius: 10px;
    background-color: rgba(165, 222, 55, 0.3);
}
.order-list .weui_cells_title{
    font-size: 16px;
    margin-top: 0.4em;
}
.order-detail {
    display: none;
}
.order-list .empty-list{
	padding: 30px 15px;
}
span.btn_status {
    padding: 0 7px;
}
span.btn_cancel {
    /* padding: 5px;
    border: 1px #c3c0c0 solid;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #d3cecd, 2px 2px 5px #b9b2b2; */
    padding: 5px 8px;
    border: 1px #ed645c solid;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(237, 100, 92, 0.4), 2px 2px 5px rgba(237, 100, 92, 0.33);
    color: #ed645c;
}
span.btn_success, span.btn_pay { 
    color: #A5DE37;
    padding: 5px;    
    border: 2px solid #A5DE37;
    border-radius: 4px;    
}
span.btn_success.gloming, span.btn_pay.gloming {    
    -webkit-animation: glowing 3s infinite;
    animation: glowing 3s infinite;    
}
.icon {
    font-size: 10px;
}
.empty-list [class^="icon-"] {
    margin-right: 5px;
}
.text-red {
    color: #ff8080;
}
.text-blue {
    color: #40a5fa;
}
.text-bold {
    font-weight: 600;
}
.text-primary {
    font-weight: 600;
    color: #3C92DD;
    font-size: 1em;
}
.text-success {
    font-weight: 600;
    color: #A5DE37;
}
.pagenation {
    text-align: center;
    font-weight: bold;
    padding: 4px 0;
}
.pagenation i {
    color: #ccc99b;
    cursor: pointer;
}
.pagenation span {
    position: relative;
	left: 12px;
    top: -2px;
}
   
#baiduMap {
    display: none;
}
.car-type>.car-type-title{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 35px;
    padding: 10px 0;
    font-size: 18px;
    line-height: 35px;
    color: #333;
    text-align: center;
}
.car-type>.car-type-title>label{ 
    display: table-cell; 
    border-right: 1px solid #ddd;  
}
.car-type>.car-type-title>label:last-child{border-right: 0px;}
.car-type>.car-type-title>label:first-child{ }
.car-type-title>label>span{vertical-align: middle;}

/*
.car-type>.car-type-title>label.no-open span{
    color: #ccc;
}
.car-type>.car-type-title>label.no-open span em{
    font-size: 12px;
    line-height: 34px;
    vertical-align: bottom;
}
*/

.car-type-tips{
    position: relative;
    line-height: 32px;
    color: #999;
    border-top:1px solid #dbdbdb;
    /* border-bottom: 1px solid #dbdbdb; */
}
.car-type-tips>.arrow{
    position: absolute;
    left: 16%;
    top: -16px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #dbdbdb;
}
.car-type-tips>.arrow>div{
    margin-top: -4px;
    margin-left: -6px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
}
.car-type-tips>p{
    display: none;
    padding-right: 60px;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    line-height: 18px;
    margin: 12px 0;
}
.car-type-tips>a{
    position: absolute;
    right: 0;
    font-size: smaller;
    color: #3C92DD;
    top: 23px;
    line-height: 32px;
}

.address-detail, .floor_select{
    display: inline-block;
    width: 48%;
    position: relative;
}
.floor_select:after {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    position: absolute;
    right: 1px;
    top: 18px;
}
.addway {
    position: relative;
    margin: 2px;
}
.addway i {
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -43px;
    cursor: pointer;
    color: #a5a38d;
    font-size: small;
}
.waypoint .remove{
    font-size: medium;
    position: absolute;
    right: 10px;
    top: 4px;
    cursor: pointer;
}
.addway + .weui_cell {
    padding-top: 15px;
}
.weui_cell_warn {
    border: 1px red dashed;
}
.weui_cell_warn .text-primary {
    color: #E64340;
}
input.address-detail {
    border-right: 1px dotted #B3B3B3;
}
input.order_tip {
    width: 50%;
}
select.weui_select.address-floor {
    font-size: 15px;
    color: #A6A6A6;
    z-index: 0;
    padding-left: 10px;
    width: 90%;
}
.weui_cell.remark {
    display: block;
}

p.order_sumary {
    text-align: center; 
    color: #D1CFC7;
    font-family: Consolas, sans-serif;
    font-weight: bold; 
    font-size: 18px;
}
p.order_sumary .distance  em{
    font-size: 24px;
    font-weight: 500;
    color: #FF7F00; 
}
p.order_sumary .price  em{
    font-size: 2em;
    font-weight: 500;
    font-style: normal;
    color: #FF7F00; 
}
.weui_msg .weui_msg_title{
    font-size: 30px;
    font-weight: 600;
    color: #09bb07;
}
.weui_msg .weui_cells_title, .weui_msg .weui_cell_bd{
    text-align: left;
}
.weui_msg .weui_cell p {
    font-size: 16px;
}
.weui_msg .weui_cell p i{
    padding-right: 0.2em;
}
.order_corner_mark {
    width: 80px;
    height: 80px;
    color: #fff;
    position: absolute;
    right:0px;
    top: 3px;
    transform: rotateZ(45deg);
	text-align: center;
}
.order_corner_mark:after {
    content: '';
    border-width: 40px;
    width: 0;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #d75d5a transparent;
    display: block;
    position: absolute;
    top: -60px;
    z-index: -2;
}
.order_corner_mark:before {
    content: '';
    border-width: 20px;
    width: 0;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #fff transparent;
    display: block;
    position: absolute;
    top: -41px;
    z-index: -1;
    right: 20px;
}
.rush_won {
	color: #ed645b;
}
.rush_won span {
	left: 0px !important; 
}